<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<l6>Аккаунт</l6><br>
<form action="/signIn" method="Post">
    <input type="submit" value="Вход">
</form>
<form action="/signUp" method="Post">
    <input type="submit" value="Регистрация">
</form>
</body>
</html>