<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
Профиль {{ user }} :
<form action="/deleteUser" method="Post">
    <input type="submit" value="Удалить аккаунт">
</form>
<form action="/unLogin" method="Post">
    <input type="submit" value="Выход">
</form>
</body>
</html>