<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<l6>Регистрация</l6><br>
<form method="Post">
    <l6>login: </l6><input name="login">
    <br>
    <l6>password: </l6><input name="pass">
    <br>
    <input action="/signUp" type="submit" value="Зарегистрироваться">
</form>
<form method="Post" action="/signIn">
<input  type="submit" value="Вход">
</form>
<br>
</body>
</html>